body {
    font-family: Arial, Helvetica, sans-serif;
}
btn-light {
    width: 42px;
    height: 30px;
}
.borders {
    border: 1px solid #dee2e6;
}
.card {
    --bs-card-border-width:0px;
}
.fontBody {
    font-size: 13px;
}
.ing-fluid {
    width: 750px;
    height: 750px;
    object-fit: cover;
}